<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AppId" value="154830708451235" xdt:Transform="Remove" />
    <add key="AppSecret" value="00cd67a9a16a14ab2729263d4568c240" xdt:Transform="Remove" />
    <add xdt:Transform="Insert" key="AppId" value="133247567327575" />
    <add xdt:Transform="Insert" key="AppSecret" value="16966aa6b2f2ce99212e601382de1fb0" />
  </appSettings>
  <connectionStrings>
    <add name="ContactsWebContext" xdt:Transform="Remove" />
      
    <add name="ContactsWebContext" xdt:Transform="Replace"
         connectionString="Server=a45f0678-c0f9-4ffd-9265-a803013fe3d1.sqlserver.sequelizer.com;Database=dba45f0678c0f94ffd9265a803013fe3d1;User Id=nlacewtzzeemikvh;Password=ptHCwccGrnJcMF3cneaqFGjXwhYTHRXrXDURvGdDyAW7sSpwrhqpwJTPjTfpkq7H;"
         providerName="System.Data.SqlClient" />

    
    <add name="DefaultConnection" xdt:Transform="Replace"
         connectionString="Server=a45f0678-c0f9-4ffd-9265-a803013fe3d1.sqlserver.sequelizer.com;Database=dba45f0678c0f94ffd9265a803013fe3d1;User Id=nlacewtzzeemikvh;Password=ptHCwccGrnJcMF3cneaqFGjXwhYTHRXrXDURvGdDyAW7sSpwrhqpwJTPjTfpkq7H;"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
