<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="AppId" value="765221920347201" />
    <add key="AppSecret" value="d93b14c30903c8f18b091623db4ff33c" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" connectionString="Server=a45f0678-c0f9-4ffd-9265-a803013fe3d1.sqlserver.sequelizer.com;Database=dba45f0678c0f94ffd9265a803013fe3d1;User Id=nlacewtzzeemikvh;Password=ptHCwccGrnJcMF3cneaqFGjXwhYTHRXrXDURvGdDyAW7sSpwrhqpwJTPjTfpkq7H;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
